aiohttp
aiohappyeyeballs
aiosignal
attrs
bcrypt
certifi
cffi
click
colorama
comm
cryptography
debugpy
decorator
deprecation
ecdsa
et-xmlfile
executing
fastapi
frozenlist
gotrue
h11
h2
hpack
httpcore
httpx
hyperframe
idna
ipykernel
ipython
jedi
jinja2
jupyter-client
jupyter-core
jwcrypto
jwt
markupsafe
matplotlib-inline
multidict
nest-asyncio
numpy
openpyxl
packaging
pandas
parso
passlib
platformdirs
postgrest
prompt-toolkit
propcache
psutil
pure-eval
pyasn1
pycparser
pydantic
pydantic-core
pygments
python-dateutil
python-dotenv
python-jose
python-jwt
python-multipart
pytz
pyzmq
realtime
rsa
six
sniffio
stack-data
starlette
storage3
supabase
supafunc
tornado
traitlets
typing-extensions
tzdata
uvicorn
wcwidth
websockets
yarl